@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 26px;
    height: 26px;
    border-radius: 50%; 
    background: #FFF;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #FFF;
    cursor: pointer;
  }
}
